openapi: 3.0.3
info:
  title: 'Buy Together API Documentation'
  description: 'This API aims to provide all the information you need in order to work with our API'
  version: 1.0.0
servers:
  -
    url: 'https://rrn24.techchantier.site/buy-together-api/public'
paths:
  /api/register:
    post:
      summary: 'User registration'
      operationId: userRegistration
      description: "This endpoint allows you to register a new user.\n<aside class=\"notice\">\nUsers will not be able to create or join purchase goals if they are not registered and logged in\n</aside>"
      parameters: []
      responses: {  }
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: wsybpizvoeyrjalgulgjz
                  nullable: false
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: stevie.huels@example.net
                  nullable: true
                password:
                  type: string
                  description: ''
                  example: 'KcQ49HwO,wK{2X"m*5J}'
                  nullable: false
                address:
                  type: string
                  description: ''
                  example: magni
                  nullable: false
                phone_number:
                  type: string
                  description: ''
                  example: illo
                  nullable: false
                profile_pic:
                  type: string
                  format: binary
                  description: 'Must be a file. Must not be greater than 51200 kilobytes.'
                  nullable: true
              required:
                - name
                - password
                - address
                - phone_number
      security: []
  /api/login:
    post:
      summary: 'User authentication'
      operationId: userAuthentication
      description: "This endpoint allows authenticate or log in a user.\n<aside class=\"notice\">\nAn authentication token is always generated upon successful login.\n</aside>"
      parameters: []
      responses: {  }
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'Must be a valid email address.'
                  example: tomasa.roob@example.net
                  nullable: false
                password:
                  type: string
                  description: ''
                  example: dTOTefto.p!4tm3
                  nullable: false
              required:
                - email
                - password
      security: []
  /api/logout:
    post:
      summary: 'User logout from application'
      operationId: userLogoutFromApplication
      description: "This endpoint allows you to logout a user from your app.\n<aside class=\"notice\">\nIt requires the auth token of the user to be logged out\n</aside>"
      parameters: []
      responses: {  }
      tags:
        - Authentication
      security: []
  '/api/purchase-goals/{id}/change-status':
    post:
      summary: 'Change the status of specified purchase goal'
      operationId: changeTheStatusOfSpecifiedPurchaseGoal
      description: "<aside class=\"notice\">\nOnly the owner of the goal can change its status from open to close and vice versa.\n</aside>"
      parameters: []
      responses: {  }
      tags:
        - 'Purchase Goals'
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the purchase goal.'
        example: sint
        required: true
        schema:
          type: string
  /api/purchase-goals:
    post:
      summary: 'Create a new purchase goal.'
      operationId: createANewPurchaseGoal
      description: "This endpoint allows users to create a purchase goal.\n<aside class=\"notice\">\nUsers must be authenticated to access this endpoint.\n</aside>"
      parameters: []
      responses: {  }
      tags:
        - 'Purchase Goals'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: qukbdnrojij
                  nullable: false
                description:
                  type: string
                  description: ''
                  example: 'Aut ex ipsum quisquam voluptas dolor.'
                  nullable: false
                target_amount:
                  type: number
                  description: 'Must be at least 0.'
                  example: 1
                  nullable: false
                amount_per_person:
                  type: number
                  description: 'Must be at least 0.'
                  example: 57
                  nullable: true
                product_name:
                  type: string
                  description: ''
                  example: expedita
                  nullable: false
                product_description:
                  type: string
                  description: ''
                  example: totam
                  nullable: false
                product_unit_price:
                  type: number
                  description: 'Must be at least 0.'
                  example: 28
                  nullable: false
                product_bulk_price:
                  type: number
                  description: 'Must be at least 0.'
                  example: 19
                  nullable: true
                product_quantity:
                  type: number
                  description: 'Must be at least 0.'
                  example: 31
                  nullable: false
                product_image:
                  type: string
                  format: binary
                  description: 'Must be a file. Must not be greater than 51200 kilobytes.'
                  nullable: true
                group_link:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: untemrusyxbkxqmqlm
                  nullable: true
                start_date:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2025-02-27T13:17:38'
                  nullable: false
                end_date:
                  type: string
                  description: 'Must be a valid date. Must be a date after or equal to <code>start_date</code>.'
                  example: '2026-10-08'
                  nullable: true
              required:
                - title
                - description
                - target_amount
                - product_name
                - product_description
                - product_unit_price
                - product_quantity
                - start_date
      security: []
  '/api/purchase-goals/{id}':
    put:
      summary: 'Update an existing purchase goal.'
      operationId: updateAnExistingPurchaseGoal
      description: "This endpoint allows users to update details of a purchase goal.\n<aside class=\"notice\">\nOnly the owner of the goal can update it.\n</aside>"
      parameters: []
      responses: {  }
      tags:
        - 'Purchase Goals'
      requestBody:
        required: false
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: pixzhgitzx
                  nullable: false
                description:
                  type: string
                  description: ''
                  example: 'Cupiditate non consequatur impedit minus maiores enim.'
                  nullable: false
                target_amount:
                  type: number
                  description: 'Must be at least 0.'
                  example: 49
                  nullable: false
                amount_per_person:
                  type: number
                  description: 'Must be at least 0.'
                  example: 6
                  nullable: true
                product_name:
                  type: string
                  description: ''
                  example: consequatur
                  nullable: false
                product_description:
                  type: string
                  description: ''
                  example: maxime
                  nullable: false
                product_unit_price:
                  type: number
                  description: 'Must be at least 0.'
                  example: 15
                  nullable: false
                product_bulk_price:
                  type: number
                  description: 'Must be at least 0.'
                  example: 4
                  nullable: true
                product_quantity:
                  type: number
                  description: 'Must be at least 0.'
                  example: 82
                  nullable: false
                product_image:
                  type: string
                  format: binary
                  description: 'Must be a file. Must not be greater than 51200 kilobytes.'
                  nullable: true
                group_link:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: goqeytvpggpqf
                  nullable: true
                start_date:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2025-02-27T13:17:38'
                  nullable: false
                end_date:
                  type: string
                  description: 'Must be a valid date. Must be a date after or equal to <code>start_date</code>.'
                  example: '2070-11-20'
                  nullable: true
      security: []
    delete:
      summary: 'Delete a purchase goal.'
      operationId: deleteAPurchaseGoal
      description: "This endpoint allows users to delete a specific purchase goal by ID.\n<aside class=\"notice\">\nOnly the owner of the goal can delete it.\n</aside>"
      parameters: []
      responses: {  }
      tags:
        - 'Purchase Goals'
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the purchase goal.'
        example: molestias
        required: true
        schema:
          type: string
  '/api/purchase-goals/{id}/join':
    post:
      summary: 'Join a purchase goal.'
      operationId: joinAPurchaseGoal
      description: 'Allows a user to join a specific purchase goal.'
      parameters: []
      responses: {  }
      tags:
        - 'User Participation'
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the purchase goal.'
        example: et
        required: true
        schema:
          type: string
  '/api/purchase-goals/{id}/approve/{user_id}':
    post:
      summary: 'Approve a purchase goal.'
      operationId: approveAPurchaseGoal
      description: 'Allows a user to APPROVE another user to join purchase goal.'
      parameters: []
      responses: {  }
      tags:
        - 'User Participation'
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the purchase goal.'
        example: 9
        required: true
        schema:
          type: integer
      -
        in: path
        name: user_id
        description: 'The ID of the user.'
        example: 10
        required: true
        schema:
          type: integer
  '/api/purchase-goals/{id}/decline/{user_id}':
    post:
      summary: 'Decline request to join a purchase goal.'
      operationId: declineRequestToJoinAPurchaseGoal
      description: 'Allows user to DECLINE a request from another user to join purchase goal.'
      parameters: []
      responses: {  }
      tags:
        - 'User Participation'
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the purchase goal.'
        example: 12
        required: true
        schema:
          type: integer
      -
        in: path
        name: user_id
        description: 'The ID of the user.'
        example: 12
        required: true
        schema:
          type: integer
tags:
  -
    name: Authentication
    description: 'Endpoints for login, registration, and logout'
  -
    name: 'Purchase Goals'
    description: 'Endpoints for managing purchase goals'
  -
    name: 'User Participation'
    description: 'Endpoints for managing user participation in purchase goals'
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: 'You can retrieve your token by visiting your dashboard and clicking <b>Generate API token</b>.'
security:
  -
    default: []
